Q1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

ANS:

SELECT * FROM (SELECT FIRST_NAME, SALARY OVER(ORDER BY SALARY DESC)R FROM WORKERS) WHERE R=&n;

Q2. Write an SQL query to fetch the list of employees with the same salary.

ANS:

SELECT W1.FIRST_NAME, W1.SALARY FROM WORKERS W1 JOIN WORKERS W2 ON W1.SALARY = W2.SALARY AND 
W1.FIRST_NAME <> W2.FIRST_NAME