Q1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

ANS: SELECT FIRST_NAME AS WORKER_NAME FROM WORKER.

Q2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

ANS: SELECT DISTINCT(DEPARTMENT) AS DEPARTMENTS FROM WORKER

Q3. Write an SQL query to show the last 5 record from a table.

ANS: SELECT * FROM (SELECT TOP 5 * from TABLE ORDER BY ID DESC)ORDER BY ID ASC