Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

ANS:

SELECT SUBSTR(FIRST_NAME,1,3) AS SHORT_NAME FROM WORKER

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

ANS:

SELECT CHARINDEX('a', 'Amitabh') AS IDEX;

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

ANS:

SELECT FIRST_NAME FROM WORKER WHERE SALARY=MAX(SALARY) GROUP BY DEPERTMENT