Q1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

ANS:

SELECT RTRIM(FIRST_NAME) AS FIRST_NAME FROM WORKER

Q2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

ANS:
    
SELECT DISTINCT(DEPARTMENT), LEN(DEPARTMENT) FROM WORKER

Q3. Write an SQL query to fetch nth max salaries from a table.

ANS:

SELECT * FROM(SELECT FIRST_NAME, SALARY OVER(ORDER BY SALARY DESC)r FROM WORKER) WHERE r=&n;