Q1. Write an SQL query to show only odd rows from a table.

ANS:

SELECT * FROM(SELECT FIRST_NAME,SALARY,DEPARTMENT,ROWNUM RN FROM WORKERS ORDER BY ID) WHERE MOD(RN, 2) <> 0;

Q2. Write an SQL query to clone a new table from another table.

ANS:

CREATE TABLE new_table LIKE original_table;